*.pyc
*.db
*~
.*

/site/
/htmlcov/
/coverage/
/build/
/dist/
/*.egg-info/
/env/
.env/
MANIFEST
coverage.*
.vscode/
/.vscode/
!.gitignore
!.travis.yml
!.isort.cfg

plusco/settings.py
/media
/venv/
db.sqlite3
*/migrations/